body{
    background-image: url(todo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    max-width: 400px;
    border: solid 5px black;
    background-color: #dede09;
    /* display: flex; */
    margin-top: 50px;
    
}

.add-text{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-weight: 500;
    margin-bottom: 10PX;
    font-size: 20px;
    color: black !important;
}
.heading{
    color: black;
}
input[type=text],
input[type=text]:focus{
    color: #0d0c0c;
    border: none;
    background: rgb(255, 255, 255);
    max-width: 400px;
}
.todos li{
    background: #848484;
}
.filter{
    display: none !important;
}
i{
    color: black;
}
.delete{
    cursor: pointer;
}